---
layout: default
---
<div class="container">
    <div class="col-md-9 col-content">
        <div id="post-content" class="panel panel-pithy post">
            <div class="panel-heading">
                <h3 class="title">
                  <i class="fa fa-bookmark-o"></i>{{page.title}}
                </h3>
                <ul class="info">
                    <li>
                      {{ site.post.author}} <span class="author">{{ page.author }}</span>
                    </li>
                    <li>
                      {{ site.post.update_date }} <span class="author">{{ page.date | date: "%Y年%m月%d日" }}</span>
                    </li>
                    <li>
                        {{ site.post.categories }}
                        {% for category in page.categories %}
                        <a class="tag" href="{{site.baseurl}}/categories/{{ category }}/index.html">{{ category }}</a>
                        {% endfor %}
                    </li>
                    <li>
                      {{ site.post.tags }}
                     {% for tag in page.tags %}
                         <a class="tag" href="{{site.baseurl}}/tag/#{{ tag }}">{{ tag }}</a>
                     {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="panel-body content">
                {{content}}
            </div>
            {% if site.duoshuo_share.enable%}
              {% include share.html%}
            {% endif %}
        </div>


        {% include previousAndNext.html %}

        <!--
            if config set comment enable,include comment
        -->

        {% include gitcomment.html%}

    </div>
    <div class="col-md-3 col-sidebar">
        {% include sidebar_author.html%}
        {% include sidebar_categories.html%}
        {% include sidebar_tags.html%}
    </div>
</div>
